//Header styling
html{
    height: 100%;
    width:100%
  }

body{
    background-image: url("../images/background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-size: 100% cover!important;
    margin: 0 !important;
    overflow: hidden;
    display: block;
    height: 100%;
}

.postButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.postBtn{
  background-color: yellow;
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	height: 30px;
	width: 120px;
	border: 2px solid white;
	cursor: pointer;
}


textarea{
    margin-top: 10px;
}

#create-btn{
    display: block;
    margin: auto;
    align-items: center;
    height: 2rem;
    width: 6rem;
    margin-top: 15px;
    font-size: 6px;
    border: 2px solid none;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 16px;
    padding: 2px 2px 4px 2px;
}
