html{
    height: 100%;
    width:100%
  }

body{
    background-image: url("../images/background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-size: 100% cover!important;
    margin: 0 !important;
    overflow: hidden;
    display: block;
    height: 100%;
}

.postButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.postBtn{
    /* background-color: yellow;
    padding: 8px 8px 8px 8px;
    color:black;
    font-family: 'Ubuntu Condensed';
    font-size: 16px;
    margin-bottom: 7rem;
    margin-left: 10px;
    border-color: white;     */

  background-color: yellow;
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	height: 30px;
	width: 120px;
	border: 2px solid white;
	cursor: pointer;
}


textarea{
  margin-top: 10px;
}

.create-btn{
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 14px;
  /* width:100px; */
}