/* ----------Post Styling----------- */

#post-auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 20px 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#post-desc {
  margin: 0px 50px 20px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bolder;
}

#editBtn{
  width: 73px;
  height: 35px;
  align-content: center;
  background-color: #d11d53;
  border: none;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}

#saveBtn{
  width: 73px;
  height: 35px;
  align-content: center;
  background-color: #d11d53;
  border: none;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}

#post-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-size: larger;
	font-weight: bold;
  margin: 0px 50px 10px 50px;
}

h5 {
  font-family: monospace;
  font-size: x-large;
  font-weight: bolder;
} 

#headCmtTag{
  margin-top: 18px;
}

.post-btn {
  background-color: #d11d53;
  color:white;
  width: 94px;
  height: 40px;
  border: none;
  margin-top: 12px;
}

.post-btn:hover {
  box-shadow: 15px 30px 70px 1px #d11d53; 
}


#like-section {
  margin: 25px 50px 20px 50px;
}

#comment-section {
  margin: 25px 50px 20px 50px;
}

#comment-textarea {
  height: 100px;
  width:70%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
}

.comment {
  margin: 10px;
  height: 40px;
  padding-top: 8px;
  padding-left: 5px;
  background-color: white;
  align-content: center;
}

#all-comments{
  display: flex;
  flex-direction: column-reverse;
  background-color: lightgrey;
  width: 75%;
  height: 100%;
}
