/* ----------Cards Styling------------- */

.posts{
  background-color: #ffeedd;
}

.post-card{
  background-color: lightgrey;
  width: 700px;
  height: 100%;
  display:flex;
  flex-direction: row;
  border: 3px;
  border-radius: 25px;
  margin: 40px;
  box-shadow: grey;
  flex: 0 1 30%;
}

.post-card:hover {
  box-shadow: 0 0 40px rgba(33,33,33,.2); 
}

.post-author{
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  color: darkslategrey;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  width: 25%;
  text-align: center;
  padding: 0px 5px 0px 5px;
}

.posts{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;    
}

.post-title{
  font-size: larger;
  font-family: sans-serif;
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p{
  font-family: sans-serif;
  font-size: medium;
}

.post-content{
  margin: 10px;
}


.yes-btn{
  background-color:green;
  color:white;
  width:90px;
  height:40px;
  margin-left: 65px;
  margin-bottom: 25px;
  border: none;

}

.no-btn{
  background-color: red;
  color:white;
  width: 90px;
  height: 40px;
  margin-right: 65px;
  margin-bottom: 25px;
  border: none;
}

.post-description {
  max-width: 700px;
  height: 53px;
  overflow: hidden;
}

.delete-header{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  height: 50px;
}
